<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>Admin</title>
</head>

<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="btnstate" value="Remove"
            onclick="removeDiv(this)"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    <section class="landing">
        <section class="header">
            <a href="/AdminLogout">Logout</a>
        </section>

        <section class="section-one">
            <div class="add-timeline">
                <form action="/Admin/Timeline" method="POST" class="form">
                    <h1>Add to Timeline</h1>
                    <label for="name">Event name:</label>
                    <input type="text" name="name" required id="name">
                    <label for="time">Date:</label>
                    <input type="date" name="date" required id="time">
                    <label for="description">Discription:</label>
                    <textarea type="description" name="description" required id="discription"></textarea>
                    <input type="submit" id="addevent" value="Add Event" class="btn timeline-btn">
                </form>
                <div>
                    <form action="/Admin/DeleteEvent" method="POST" class="form">
                     <h1>Delete Event</h1>
                     <label for="name">Event name:</label>
                     <input type="text" name="name" required id="name">
                     <input type="submit" id="deleteevent" value="Delete Event" class="btn timeline-btn">
                    </form>
                </div>
        </section>

        </div>

    </section>
    <section class="section-two">

        <div class="new-member">
            <div>
                <form action="/Admin/Register" method="POST" class="formnew">
                    <h1>Add New Member</h1>
                    <label for="username">Username:</label>
                    <input type="text" name="username" required id="username">
                    <label for="email">Email:</label>
                    <input type="email" name="email" required id="email">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required id="password" autocomplete="new-password">
                    <label for="underhand">underhand:</label>
                    <input type="number" name="underhand" required id="underhand">
                    <label for="overhand">Overhand:</label>
                    <input type="number" name="overhand" required id="overhand">
                    <label for="spiking">Spiking:</label>
                    <input type="number" name="spiking" required id="spiking">
                    <label for="setting">Setting:</label>
                    <input type="number" name="setting" required id="setting">
                    <label for="digs">Digs:</label>
                    <input type="number" name="digs" required id="digs">
                    <label for="dumps">Dumps:</label>
                    <input type="number" name="dumps" required id="dumps">
                    <label for="blocks">Blocks:</label>
                    <input type="number" name="blocks" required id="blocks">
                    <input type="submit" id="registerbtn" value="Add User" class="btn">
                </form>

            </div>
        </div>
        <div class="delete-member">
            <form action="/Admin/DeleteUser" method="POST" class="formnew">
                <h1>Delete User</h1>
                <label for="email">Email:</label>
                <input type="email" name="email" required id="email">
                <input type="submit" id="deletebtn" value="Delete User" class="btn">
            </form>
        </div>
    </section>

    <div class="section-three">
        <div class="add-admin">
            <form action="/Admin/RegisterAdmin" method="POST" class="form" autocomplete="off">
                <h1>Add Admin</h1>
                <label for="admin-email">Email:</label>
                <input type="email" name="email" required id="email">
                <label for="admin-password">Password:</label>
                <input type="password" name="password" required id="password" autocomplete="new-password">
                <input type="submit" id="add-admin" value="Add Admin" class="btn timeline-btn">
            </form>
        </div>

    </div>

</body>

</html>