<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify</title>
    <link rel="stylesheet" href="css/notify.css">
</head>


<body style="background-color:#111111;">
    <section class="land">
        <div class="bg">
            {{>navbar}}
            <div class="chat-container">
                <div class="left-section">
                    <div class="heading">
                        Vball Fnatics
                    </div>

                    <div class="username-heading">
                        Users
                    </div>

                    <ul class="username-list">
                        {{#each uniqueUsernames}}
                        <li class="single-username">

                            {{this}}


                        </li>
                        {{/each}}
                    </ul>

                </div>
                <div class="break-section">

                </div>
                <div class="right-section">
                    <div class="message-container">
                        <ul class="message-list">
                            {{#each data}}
                            <li class="single-message">
                                <div class="single-message-name">
                                    {{username}}

                                </div>
                                <div class="single-message-text">
                                    {{message}}
                                </div>
                            </li>
                            {{/each}}
                        </ul>

                    </div>
                    <div class="form-container">
                        <form id="chat-form" action="/Message" method="POST">
                          <textarea id="message" name="message" placeholder="Enter Message" required autocomplete="off" class="form-input"></textarea>
                          <button class="btn" id="btn"><i class="fas fa-paper-plane"></i> Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <script>
        // get the message container
        var messageContainer = document.querySelector('.message-list');

        // function to scroll to the bottom of the message container
        function scrollToBottom() {
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }

        // call scrollToBottom() when the page loads
        window.onload = scrollToBottom();

        // call scrollToBottom() whenever a new message is sent
        document.querySelector('#chat-form').addEventListener('submit', function() {
            scrollToBottom();
        });
    </script>

</body>


</html>