:root {
    --dark: #373151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #fff;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

*{
    font-family: sans-serif;
}

@font-face {
    font-family: seogoe;
    src: url(../fonts/SEGOEUI.TTF);
}
body{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(2, 29, 60, 1));
    background: #111111;
    overflow-x: hidden;
}

.landing{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    background-image:url(../imgs/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.nav-div{
    width: 100%;
    height: 8rem;
}

.logo{
    float: left;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 0.2rem solid var(--darker);
    background-color: var(--light);
    /* border-color: var(--darkest); */
    margin-top: 0.5rem;
    margin-left: 3rem;
    background-image: url(../imgs/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.nav{
    float: right;
}

.nav ul li{ 
    display: inline-block;
    list-style-type: none;
    margin-right: 2.5rem;
}

.nav ul li a{
    font-family: seogoe;
    text-decoration: none;
    color: var(--light);
    background-color: var(--darker);
    line-height: 8rem;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: 0.6s ease;
}

.nav ul li a:hover{
     background-color: var(--gray);
     color: var(--pink);
}
.nav ul li a.active{
    background-color: var(--gray);
    color: var(--pink);
}

.banner{
    width: 95%;
    height: 40%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray);
    opacity: 90%;
    border-radius: 200rem;
}
.upload-section{
    margin-top: 32px;
    width:100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.heading{
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
}
#chat-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.description-container{
    width:100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.link-container{
    width:100%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

}
.form-heading{
    font-size: 24px;
    margin-bottom: 6px;
    color: white;

    width: 80%;
    padding-left: 0;
}
.form-input{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top:12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    width: 80%;
    background-color: transparent;
    padding-right: 8px;
    padding-left: 8px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top:12px;
    padding-bottom: 12px;
    border-radius: 10px;
    border-color: #FEBE10;
    border-width: 1px;
    width: 83%;
    background-color: #FEBE10;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
}
.btn:hover{
    opacity: 0.8;
}

.video-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-list{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    gap:32px;
    list-style-type: none

}
.single-video{
    
}
.single-video-description{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.single-video-name{
    font-size: 14px;
    color: green;
    text-transform: capitalize;
    margin-top: 18px;

}
.break-section{
    width: 100%;
    
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.break-line{
    background-color: gray;
    height: 2px;
    width: 80%;
    border-radius: 100px;

}
